$color_131921 : #131921;
$color_3b4149 : #3b4149;
$color_febd69 : #febd69;
$color_232f3e : #232f3e;
$color_bf4800 : #bf4800;
$color_f5f5f7 : #f5f5f7;
$color_ededed : #ededed;
$color_777777 : #777777;
$color_bf4800 : #bf4800;
$color_fc353c : #fc353c;
$color_E5A764 : #E5A764;
$color_1c1c1b : #1c1c1b;
$color_febd69 : #febd69;
$color_8E0819 : #8E0819;
$color_FFD233 : #FFD233
